.main {
    width: 100%;
    background-image: url(/assets/images/bg.png);
    @include bgCover;
}

.header {
    img {
        width: 18%;
        max-width: 140px;
        margin: 20px 0 0 25px;
    }
}

.original {
    @include flex_center;
    flex-direction: column;
    margin: 70px auto 80px auto;

    img {
        width: 40%;
        max-width: 160px;
        margin-bottom: 16px;
    }

    .btn {
        padding: 12px 40px;
        background-color: $black;
        color: $white;
        border-radius: 100px;
        @include boldSmallP
    }
}

.partner_wrap {
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.partner {
    background-color: $white;
    border-radius: 5px;
    padding: 12px;
    @include flex_start;
    align-items: center;
    box-shadow: 2px 2px 22px rgba($color: $primary, $alpha: 0.11);
    margin-bottom: 12px;

    .partnerlogo {
        width: 50px;
        height: 50px;
        @include bgCover;
        margin-right: 15px;
    }

    .regCaption {
        color: $darkGray;
        margin-top: 1px;
    }
}

footer {
    padding: 35px 0;
    background-color: $black;

    p {
        color: $white;
    }
}

.footer_wrap {
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;

    .arrow {
        @include transition04;
    }

    &.on {
        .text {
            animation-name: text;
            animation-duration: .4s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            @keyframes text {
                from {
                    max-height: 0;
                    opacity: 0;
                }

                to {
                    max-height: 100px;
                    opacity: 1;
                }
            }
        }

        .arrow {
            transform: rotate(180deg)
        }
    }

    &.off {
        .text {
            animation-name: text-reverse;
            animation-duration: .4s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            @keyframes text-reverse {
                from {
                    max-height: 100px;
                    opacity: 1;
                }

                to {
                    max-height: 0;
                    opacity: 0;
                }
            }
        }
    }

    .title {
        @include flex_between_center;

        p {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .text {
        @include flex_start;
        padding-bottom: 5px;
        max-height: 0;
        overflow: hidden;

        p {
            font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

        }

        p:first-child {
            margin-right: 8px;
        }

        .regCaption {
            opacity: 0.8;
        }

        &.spacing {
            padding-top: 20px;
        }
    }
}

.animation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;

    .simbol {
        width: 80px;
        height: 80px;
        position: absolute;
        border-radius: 100%;
        background-image: url(/assets/images/simbol.png);
        @include bgCover;

        animation-name: simbol;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }

    @keyframes simbol {
        from {
            top: 10%;
            left: 0;
            transform: rotate(0deg);
        }

        12% {
            top: 35%;
            left: calc(100% - 80px);
            transform: rotate(50deg);
        }

        25% {
            top: 70%;
            left: 0;
            transform: rotate(100deg);
        }

        37% {
            top: calc(100% - 80px);
            left: 70%;
            transform: rotate(150deg);
        }

        50%{
            top: 60%;
            left: calc(100% - 80px);
            transform: rotate(200deg);
        }

        62% {
            top: 0;
            left: 20%;
            transform: rotate(150deg);
        }

        75%{
            top: 30%;
            left: 0;
            transform: rotate(100deg);
        }

        87% {
            top: 60%;
            left: calc(100% - 80px);
            transform: rotate(50deg);
        }

        to {
            top: 10%;
            left: 0;
            transform: rotate(0deg);
        }
    }
}